@use "../global/variables.scss";

.advantages-item {
  text-align: center;
  text-transform: uppercase;
  &--blue {
    .advantages-item__title,
    .advantages-item__description {
      color: #ffffff;
    }
  }

  &--grey {
    background-color: #eeeeee;

    @media (min-width: variables.$screen-tablet) {
      flex-basis: clamp(256px, 33.333vw, 400px);
      min-height: 256px;
    }
  }
}

.advantages-item .advantages-item__title {
  &::after {
    counter-increment: section 1;
    content: "— №" counter(section) "—";
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.advantages-item__description {
  &-grey {
    white-space: break-spaces;
  }
}

.advantages-item__wrapper {
  padding: 37px 30px 36px;

  &--grey {
    padding-top: 23px;
    padding-bottom: 26px;
  }

  @media (max-width: 767px) {
    &--triangle {
      padding-top: 70px;
      background-image: url("../img/advantages_mobile_triangle_top.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: auto;
      position: relative;
      width: 100%;
      padding-bottom: 39px;
    }
  }

  &--blue {
    background-color: variables.$main-color;
  }

  @media (min-width: variables.$screen-tablet) {
    flex-basis: clamp(256px, 50%, 31.25vw);
    padding: 52px 33px 31px 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--grey {
      padding: 41px 33px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    &--grey {
      padding: 52px 50px;
    }
  }
}

.advantages-item__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: clamp(18px, 5vw, 21px);
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 17px;

  &--grey {
    @media (min-width: variables.$screen-tablet) {
      padding-bottom: 20px;
      width: 120px;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-bottom: 25px;
    }
  }
}

.advantages-item__image {
  object-fit: cover;
  width: 100%;

  @media (min-width: variables.$screen-tablet) {
    width: 68.667vw;
    height: 100%;
  }
}

.advantages-item__services-list {
  padding: 23px 18px 46px 18px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 69px;
    padding-bottom: 69px;
  }
}
