@use "../global/variables.scss";

.advantages {
  background-image: url("../img/advantages_mobile_triangle_top.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  position: relative;
}
