@use "../global/variables.scss";

.advantages-services-list {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.advantages-services-list__item {
  flex-basis: 24.75vw;
}
