@use "../global/variables.scss";

.advantages-list {
  counter-reset: section 0;

  @media (min-width: variables.$screen-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-list__item {
  &:last-child {
    .advantages-item__wrapper {
      padding-bottom: 28px;
    }
  }
}
