@use "../global/variables.scss";

.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: variables.$main-color;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
    transition: 0.3s;
  }

  &:active {
    background-color: #5496bd;
    .button__description {
      opacity: 0.3;
    }
  }
}
