@use "../global/variables.scss";

.button {
  margin: 0;
  border: none;
  background-color: variables.$main-color;
  cursor: pointer;
  display: block;
  padding: 16px;
  padding-top: 17px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  &:hover {
    background-color: #669ec0;
    transition: 0.3s;
  }

  &:active {
    background-color: #5496bd;

    .button__description {
      opacity: 0.3;
    }
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.button__description {
  &--index {
    @media (min-width: variables.$screen-tablet) {
      font-size: 21px;
    }
  }
}
