@use "../global/variables.scss";

.container-with-picture {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
  }

  &--bridge {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.container-with-picture__picture {
  flex-grow: 1;
}
