@use "../global/variables.scss";

.copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  color: #000000;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
  padding-left: 4px;

  @media (min-width: variables.$screen-tablet) {

    padding-left: 0;
  }

  &:hover {
    color: #81b3d2;
    transition: 0.2s;
    .copyright-link__logo path {
      fill: #81b3d2;
      transition: 0.2s;
    }
  }

  &:active {
    color: #b3b3b3;
    .copyright-link__logo path {
      fill: #b3b3b3;
    }
  }
}
