@use "../global/variables.scss";

.copyright-link {
  color: #000000;
  text-transform: uppercase;

  &:hover {
    color: #81b3d2;
    transition: 0.2s;
    .copyright-link__logo path {
      fill: #81b3d2;
      transition: 0.2s;
    }
  }

  &:active {
    color: #b3b3b3;
    .copyright-link__logo path {
      fill: #b3b3b3;
    }
  }
}
