@use "../global/variables.scss";

.fieldset-title__description {
  @media (min-width: variables.$screen-tablet) {
    display: block;
    background-color: #ffffff;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0px 66px;
    max-width: 403px;
  }

  &--radio {
    @media (min-width: variables.$screen-tablet) {
      white-space: nowrap;
    }
  }
}
