@use "../global/variables.scss";

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
    @media (min-width: variables.$screen-tablet) {
      border-bottom: none;
    }
  }

  &:first-of-type {
    border-top: 1px solid #e5e5e5;
    @media (min-width: variables.$screen-tablet) {
      border-top: none;
    }
  }
}

.fieldset__container {
  padding-top: 24px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--full-name {
    padding-bottom: 39px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--contacts {
    padding-top: 24.5px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--radio {
    padding-bottom: 24px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-bottom: 63px;
    }
  }

  &--checkbox {
    padding-bottom: 24px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-bottom: 87px;
    }
  }

  &--textarea {
    padding-bottom: 51.5px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
      padding-bottom: 42px;
      gap: 0;
    }
  }

  &--button {
    padding-top: 0;
    padding-bottom: 22px;
    gap: 3px;

    @media (min-width: variables.$screen-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }
}

.fieldset__title {
  color: #000000;
  font-size: clamp(18px, 5vw, 21px);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 4px;
  position: relative;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 28px;
    &--grey-line {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        position: absolute;
        top: 28%;
      }
    }

    &--full-name,
    &--contacts {
      padding-bottom: 12px;
    }
  }

  &--radio {
    @media (min-width: variables.$screen-tablet) {
      padding-bottom: 14px;
    }

    @media (min-width: variables.$screen-desktop) {
      padding-bottom: 13px;
    }
  }

  &--checkbox {
    @media (min-width: variables.$screen-tablet) {
      padding-bottom: 13px;
    }

    &::before {
      @media (min-width: variables.$screen-tablet) {
        top: 37%
      }

    }
  }


}
