@use "../global/variables.scss";

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
    @media (min-width: variables.$screen-tablet) {
      border-bottom: none;
    }
  }

  &:first-of-type {
    border-top: 1px solid #e5e5e5;
    @media (min-width: variables.$screen-tablet) {
      border-top: none;
    }
  }
}

.fieldset__container {
  padding-top: 24px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--full-name {
    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--contacts {
    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--radio {
    padding-bottom: 24px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--checkbox {
    padding-bottom: 24px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--textarea {
    padding-bottom: 56px;

    @media (min-width: variables.$screen-tablet) {
      padding: 0;
    }
  }

  &--button {
    padding-top: 0;
    padding-bottom: 22px;
    gap: 3px;
  }
}

.fieldset__title {
  color: #000000;
  font-size: clamp(18px, 5vw, 21px);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 4px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 28px;
  }
}
