@use "../global/variables.scss";

.form__asterisk {
  margin-left: auto;
}

.form__container {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 63px;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: variables.$screen-desktop) {
    margin-bottom: 72px;
  }
}

.form__button-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 22px;
  gap: 3px;

  @media (min-width: variables.$screen-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0 96px;
  }

}
