@use "../global/variables.scss";

.hero {
  background-image: url("../img/hero_triangle.svg"), url("../img/back_desktop.webp");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: auto, cover;
  background-color: #766357;
  min-height: 389px;
  position: relative;
  z-index: 0;

  &--notindex {
    min-height: 158px;
    background-position: bottom;
  }

  @media (min-width: variables.$screen-tablet) {
    min-height: 518px;

    &--notindex {
      min-height: 290px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    &--notindex {
      min-height: 301px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero_triangle.svg"), url("../img/back_desktop@2x.webp");
  }
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: variables.$screen-tablet) {
    width: 461px;
    height: 350px;

    &--notindex {
      width: 457px;
      height: 78px;
    }
  }
}
