@use "../global/variables.scss";

.label__name {
  display: block;
  text-align: start;
  text-transform: uppercase;
  color: #000000;
  padding-left: 17px;

  @media (min-width: variables.$screen-tablet) {
    padding-left: 16px;
  }
}
