@use "../global/variables.scss";

.main-title {
  text-align: center;
  text-wrap: balance;
}

.main-title__wrapper {
  padding: 33px 21px 16px;

  @media (min-width: variables.$screen-tablet) {
    width: 530px;
    padding-top: 48px;
    padding-bottom: 54.5px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 526px;
    padding-top: 58px;
    padding-bottom: 44px;
  }

  &--form {
    padding-bottom: 28px;
    padding-top: 37px;

    @media (min-width: variables.$screen-tablet) {
      width: 436px;
      padding: 64px 0 107px;
    }

    @media (min-width: variables.$screen-desktop) {
      padding: 115px 0 68px;
    }
  }

  &--photo {
    width: clamp(280px, 59.6vw, 458px);
    padding-left: 0;
    padding-right: 0;

    @media (min-width: variables.$screen-tablet) {
      padding: 66px 0 67px;
    }
  }
}

.main-title__title {
  text-transform: uppercase;
  color: #000000;
  font-size: clamp(18px, 5vw, 21px);
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 36px;
  padding-right: 2px;

  &--form {
    padding-bottom: 23px;
  }

  @media (min-width: variables.$screen-tablet) {
    white-space: break-spaces;

    &--index {
      padding-bottom: 30px;
    }

    &--form {
      font-size: clamp(18px, 5vw, 30px);
      padding-bottom: 20px;
    }

    &--photo {
      padding-bottom: 20px;
      font-size: clamp(18px, 5vw, 30px);
    }
  }

  @media (min-width: variables.$screen-desktop) {
    &--form {
      padding-bottom: 30px;
    }
  }
}

.main-title__description {
  text-transform: uppercase;

  &--form {
    white-space: break-spaces;

    @media (min-width: variables.$screen-tablet) {
      white-space: normal;
    }
  }
}
