@use "../global/variables.scss";

.main-title {
  text-align: center;
  text-wrap: balance;
}

.main-title__wrapper {
  padding: 33px 21px 16px;

  @media (min-width: variables.$screen-tablet) {
    width: 520px;
    padding-top: 47.5px;
    padding-bottom: 55.5px;
  }

  @media (min-width: variables.$screen-desktop) {
    width: 484px;
    padding-top: 59px;
    padding-bottom: 44px;
  }

  &--form {
    padding-bottom: 28px;

    @media (min-width: variables.$screen-tablet) {
      width: 436px;
      padding: 64px 0 108px 0;
    }

    @media (min-width: variables.$screen-desktop) {
      padding: 115px 0 68px 0;
    }
  }

  &--photo {
    width: clamp(280px, 59.6vw, 458px);
    padding-left: 0;
    padding-right: 0;

    @media (min-width: variables.$screen-tablet) {
      padding: 66px 0 67px;
    }
  }
}

.main-title__title {
  text-transform: uppercase;
  color: #000000;
  font-size: clamp(18px, 5vw, 21px);
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 36px;
  padding-right: 2px;

  &--form {
    padding-bottom: 20px;
    font-size: clamp(18px, 5vw, 30px);
  }

  &--photo {
    padding-bottom: 20px;
    font-size: clamp(18px, 5vw, 30px);
  }
}

.main-title__description {
  text-transform: uppercase;
}
