@use "../global/variables.scss";

.page {
  height: 100%;
}

.page__body {
  height: 100%;
  font-family: variables.$font-ptsans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-wrap: balance;


  min-height: 100%;
  background-color: #eeeeee;
}

.page__container {
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.page__modal {
  position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;

    // &--closed {
    //   display: none;
    // }
}
