@use "../global/variables.scss";

.photo-list {
  @media (min-width: variables.$screen-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photo-list__item {
  padding-top: 23px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }

  @media (min-width: variables.$screen-tablet) {
    border: none;
    padding: 0;

    &:first-child {
      border: none;
    }

    &--small {
      width: 50%;
    }
  }

  &:not(:first-child) {
    @media (min-width: variables.$screen-desktop) {
      flex-basis: 400px;
    }
  }
}
