@use "../global/variables.scss";

.photo-item__wrapper {
  padding: 0 20px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    position: relative;
  }
}

.photo-item__image {
  object-fit: cover;
  width: 100%;
}

.photo-item__name {
  padding-top: 17px;

  &--bridge {
    padding-top: 15px;
  }



  @media (min-width: variables.$screen-tablet) {
    padding: 22px 20px 16px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 21px 21px 15px;

    &--small {
      padding: 20px 19px 18px 25px;
    }
  }


}
