@use "../global/variables.scss";

.radio {
  display: flex;
  align-items: center;
  gap: 17px;
  position: relative;

  @media (min-width: variables.$screen-tablet) {
    align-items: flex-start;
    padding-top: 8.5px;
    text-align: start;
  }

  @media (min-width: variables.$screen-desktop) {
    gap: 16px 18px;
  }

  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
    &::after {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: #f2f2f2;
    flex-shrink: 0;

    @media (min-width: variables.$screen-tablet) {
      position: relative;
      bottom: 10px;
    }
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #333333;
    position: absolute;
    left: 16px;
    top: 15px;
    display: none;

    @media (min-width: variables.$screen-tablet) {
      left: 15px;
      top: 13px;
    }
  }
}
