@use "../global/variables.scss";

.visited-label {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;

  @media (min-width: variables.$screen-tablet) {
    flex-basis: 224px;
  }

  @media (min-width: variables.$screen-desktop) {
    flex-basis: 174px;

    &:nth-child(3) {
      flex-basis: 157px;
    }

    &:nth-child(4) {
      flex-basis: 186px;
    }
  }
}
