@use "../global/variables.scss";

.wishes-list {
  display: flex;
  flex-direction: column;
  gap: 15px 30px;

  @media (min-width: variables.$screen-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 28px 36px 50px;
  }

  @media (min-width: variables.$screen-desktop) {
    gap: 16px 28px;
  }
}
