@use "../global/variables.scss";

.wrapper {
  padding: 0 18px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 60px;

    @media (min-width: variables.$screen-desktop) {
      padding: 0;
    }
  }
}
