// global

@use "global/global.scss";
@use "global/mixin.scss";
@use "global/fonts.scss";
@use "global/description.scss";
@use "global/link.scss";
@use "global/list.scss";
@use "global/title.scss";
@use "global/variables.scss";
@use "global/visually-hidden.scss";
@use "global/wrapper.scss";

// blocks

@use "blocks/page.scss";
@use "blocks/main-nav.scss";
@use "blocks/button.scss";
@use "blocks/main-container.scss";
@use "blocks/hero.scss";
@use "blocks/main-footer.scss";
@use "blocks/social-list.scss";
@use "blocks/copyright-link.scss";
@use "blocks/footer-container.scss";
@use "blocks/main-title.scss";
@use "blocks/advantages-list.scss";
@use "blocks/advantages-item.scss";
@use "blocks/advantages-services-list.scss";
@use "blocks/advantages-services-item.scss";
@use "blocks/booking.scss";
@use "blocks/location.scss";
@use "blocks/container-with-picture.scss";
@use "blocks/input.scss";
@use "blocks/form.scss";
@use "blocks/fieldset.scss";
@use "blocks/label.scss";
@use "blocks/full-name-label.scss";
@use "blocks/contacts.scss";
@use "blocks/wishes-list.scss";
@use "blocks/wishes-item-label.scss";
@use "blocks/radio.scss";
@use "blocks/visited-label.scss";
@use "blocks/visited-container.scss";
@use "blocks/checkbox.scss";
@use "blocks/comment-in-details.scss";
@use "blocks/asterisk.scss";
@use "blocks/modal-container.scss";
@use "blocks/modal.scss";
