// global

@use "global/global.scss";
@use "global/mixin.scss";
@use "global/fonts.scss";
@use "global/description.scss";
@use "global/link.scss";
@use "global/list.scss";
@use "global/title.scss";
@use "global/variables.scss";
@use "global/visually-hidden.scss";
@use "global/wrapper.scss";

// blocks

@use "blocks/page.scss";
@use "blocks/main-nav.scss";
@use "blocks/main-header.scss";
@use "blocks/main-logo.scss";
@use "blocks/button.scss";
@use "blocks/main-container.scss";
@use "blocks/hero.scss";

